body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #f3e7e9;
  
}

  h1 {
    text-align: center;
    color: #FF1361;
  }

  #searchInput {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 15px;
  background-color: rgb(255, 252, 249);
  }

  #breweriesList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  
    padding: 10px;
    background-color: ghostwhite;
  }

  .brewery {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
  }

  @media screen and (max-width: 600px) {
    .brewery {
      padding: 10px;
    }
  }
  div{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  }
  h2{
    color: lightcoral;
  }
  p{
    color:rgb(67, 17, 231);
  }

  